root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;

  border: 1px solid white;
}

.content h1 {
  border-bottom: 1px solid;
}